.aBanner{
    height: 800px;
    width: 80%;
    background-color: #93c0fc;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}
.aBanner-item{
    display: flex;
    margin: auto;
    height: 600px;
    width: auto;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    flex-direction: row;
}

.logo{
    height: 500px;
    
    margin: auto;
    border-radius: 25px;
}

.content{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-family: 'Barlow Condensed', sans-serif;
}

.title{
    font-size: 50px;
    margin: auto;
}

.content-item{
    font-size: 30px;
    margin: auto;
    width: 800px;
    text-indent: 30px;
    margin-top: 30px;
}

.content-1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}

.icon{
    height: 50px;
    margin: auto;
}

.content-1-item{
    font-size: 40px;
    margin: auto;
}

.tooltip {
    position: relative;
    
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.button{
    border: none;
    background-color: white;
}

.logov{
    display: none;
}


.afooter{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-top: red 5px ;
    
}
.afooter-item{
    color: white;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    margin: auto;

}





/* ----------------------------------------- */

@media (max-width:1820px) { 
    .aBanner-item{
        width: 80%;
    }
    .content-item{
        width: 90%;
    }
}

@media (max-width:1430px) {
    .logo{
        height: 80%;
    }
    .content-1-item{
        font-size: 40px;
    }
    .content-item{
        font-size: 25px;
    }
    
}

@media (max-width:1410px) {
    .content-1-item{
        font-size: 25px;
    }
    .title{
        font-size: 40px;
    }
    .icon{
        height: 40px;
        margin: auto;
    }
}

@media(max-width:1300px){
    .logo{
        height: 400px;
    }
}

@media(max-width:1200px) {
    .aBanner-item{
        flex-direction: column;
        height: 1000px;
        padding: 0px;
        margin: auto;
    }
    .aBanner{
        height: 1050px;
    }
    .content-1-item{
        font-size: 30px;
        margin: auto;
    }
    .title{
        font-size: 50px;
    }
    .logo{
        display: none;
    }
    .logov{
        display: block;
        height: auto;
        width: 80%;
        margin: auto;
        border-radius: 25px;
    }
    .content{
        margin: 0px;
        margin: auto;
        padding: 0px;
    }
    .content-1{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
}

@media (max-width:900px) {
    .aBanner{
        width: 95%;
    }
    .aBanner-item{
        width: 80%;
        margin: auto;
    }
    .content{
        width: 100%;
        margin: 0px;
        margin: auto;
        padding: 0px;
    }
}

@media (max-width:700px) {
    .aBanner{
        background-color: white;
        width: 100%;
    }
    .aBanner-item{
        border: 15px solid #93c0fc;
        width: 100%;
        margin: 0;
    }
    .content{
        width: 100%;
    }
}

@media (max-width:530px) {
    .aBanner-item{
        height: 950px;
    }
    .content-1-item{
        display: none;
    }
    .content-1{
        align-items: center;
    }
    .logov{
        display: none;
        
    }
    .logo{
        display: block;
        width: 90%;
        height: auto;
    }
    .title{
        font-size: 35px;
    }
}

@media (max-width:400px) {
    .content-item{
        font-size: 20px;
    }
    .aBanner-item{
        height: 800px;
    }
}

@media (max-width:330px) {
    .aBanner-item{
        height: 650px;
    }
    .icon{
        height: 35px;
    }
    .content-1{
        width: 60%;
    }
    .content-item{
        font-size: 15px;
    }
}
@media (max-width:250px) {
    .aBanner-item{
        height: 600px;
    }
    .icon{
        height: 20px;
    }
}